{% extends "app_Postagem/base.html" %}  
{% load static %}

{% block title %}Sobre mim{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">👨‍💻 Sobre Mim</h2>

    <p>
        Meu nome é <strong>Filipe Gonçalves Amorim</strong>, estudante do curso Técnico em Informática Subsequente  
        no Instituto Federal de Educação Ciência e Tecnologia Baiano - <i>Campus</i>  Senhor do Bonfim. Este portfólio tem como finalidade documentar o percurso de aprendizado 
        durante o estágio supervisionado, evidenciando habilidades adquiridas em <strong>CRUD</strong>, <strong>Django</strong>, 
        <strong>Git</strong> e <strong>GitHub</strong>.
    </p>

     <p>
        Possuo conhecimentos em linguagens de programação como <strong>Python</strong> e <strong>JavaScript</strong>, bem como domínio em linguagens de marcação e estilização, incluindo <strong>HTML</strong> e <strong>CSS</strong>. Também faço uso de ferramentas essenciais como <strong>Git</strong>, <strong>GitHub</strong> e bancos de dados relacionais, aplicando boas práticas de versionamento e organização de código.
    </p>

    <p>
        Este espaço representa um registro consistente do meu desenvolvimento técnico e acadêmico ao longo da formação. 
        Abordando áreas nas quais venho investindo continuamente na aquisição de conhecimentos e no aprimoramento de competências, com o objetivo de consolidar minha trajetória profissional.
    </p>    
</div>
{% endblock %}
